/* PALETA DE COLORES GENERADA https://coolors.co/ed1c24-fdfffc-235789-f1d302-020100*/

.color-light {
  --rojo: hsla(358, 85%, 52%, 1);
  --blanco: hsla(100, 100%, 99%, 1);
  --azul: hsla(209, 59%, 34%, 1);
  --amarillo: hsla(52, 98%, 48%, 1);
  --negro: hsla(30, 100%, 0%, 1);
  --hotpink: hsl(330, 100%, 71%);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--azul);
  background-color: var(--negro);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --link-color: var(--negro);
  --link-visited-color: var(--link-color);
  --link-hover-color: var(--rojo);
}

.color-dark {
  --rojo: hsla(358, 85%, 52%, 1);
  --blanco: hsla(100, 100%, 99%, 0.85);
  --azul: hsla(209, 59%, 34%, 0.25);
  --amarillo: hsla(52, 98%, 48%, 0.25);
  --negro: hsla(30, 100%, 0%, 0.95);
  --hotpink: hsl(330, 100%, 91%);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--azul);
  background-color: var(--negro);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --link-color: var(--blanco);
  --link-visited-color: var(--link-color);
  --link-hover-color: var(--rojo);
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
